@import scss-mixins
@import typography
@import icons

//@import selectize/selectize.default
//@import jsoneditor/jsoneditor.min

.social-icons
  h4
    display: inline-block
    margin: 20px 10px 0 0

  .icon
    display: inline-block
    margin: 0 5px

body.modal-open
  overflow: hidden

.jsoneditor td.tree, .jsoneditor td, .jsoneditor tr, .jsoneditor table
    border: none
    margin: 0
