<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.17/require.min.js"></script>

<script type="text/javascript">
    requirejs.config({
        paths: {
            'highstock': "http://code.highcharts.com/stock/highstock",
            'standalone': "http://code.highcharts.com/adapters/standalone-framework",
            'export': "http://code.highcharts.com/stock/modules/exporting",

            'angular': "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min",
            'underscore': "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min",
            'animate': "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min",
            'aria': "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-aria.min",
            'material': "https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.9.4/angular-material.min",
            'accordion': "https://cdn.rawgit.com/LukaszWatroba/v-accordion/v1.2.3/dist/v-accordion.min",
            'json-editor': "https://cdn.rawgit.com/arnoutaertgeerts/jsoneditor/v4.2.0/dist/jsoneditor"
        },

        shim: {
            'highstock': {
                deps: ['standalone'],
                exports: 'Highcharts'
            },
            'export': {
                deps: ['highstock']
            },
            'angular': {
                exports: 'angular'
            },
            'underscore': {
                exports: '_'
            },
            'animate': ['angular'],
            'aria': ['angular'],
            'material': ['angular', 'animate', 'aria'],
            'accordion': ['angular']
        }
    });
</script>

<!-- Stylesheets -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.9.4/angular-material.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/LukaszWatroba/v-accordion/v1.2.3/dist/v-accordion.min.css"/>
<link rel="stylesheet" href="https://cdn.rawgit.com/arnoutaertgeerts/jsoneditor/master/dist/jsoneditor.min.css"/>


<style>
    .md-chips .md-chip-input-container input:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }

    md-input-container .md-input:focus {
        box-shadow: none;
    }

    .jsoneditor td.tree, .jsoneditor td, .jsoneditor tr, .jsoneditor table {
        border: none;
        margin: 0;
    }
</style>

<script type="text/javascript">
    require(['json-editor', 'angular'], function (JSONEditor) {
        var module = angular.module('ng.jsoneditor', []);
        module.constant('ngJsoneditorConfig', {});

        module.directive('ngJsoneditor', ['ngJsoneditorConfig', '$timeout', function (ngJsoneditorConfig, $timeout) {
            var defaults = ngJsoneditorConfig || {};

            return {
                restrict: 'A',
                require: 'ngModel',
                scope: {'options': '=', 'ngJsoneditor': '=', 'preferText': '='},
                link: function ($scope, element, attrs, ngModel) {
                    var editor;

                    if (!angular.isDefined(JSONEditor)) {
                        throw new Error("Please add the jsoneditor.js script first!");
                    }

                    function _createEditor(options) {
                        var settings = angular.extend({}, defaults, options);
                        var theOptions = angular.extend({}, settings, {
                            change: function () {
                                $timeout(function () {
                                    if (editor) {
                                        ngModel.$setViewValue($scope.preferText === true ? editor.getText() : editor.get());

                                        if (settings && settings.hasOwnProperty('change')) {
                                            settings.change();
                                        }
                                    }
                                });
                            }
                        });

                        element.html('');

                        var instance = new JSONEditor(element[0], theOptions);

                        if ($scope.ngJsoneditor instanceof Function) {
                            $timeout(function () {
                                $scope.ngJsoneditor(instance);
                            });
                        }

                        return instance;
                    }

                    $scope.$watch('options', function (newValue, oldValue) {
                        for (var k in newValue) {
                            if (newValue.hasOwnProperty(k)) {
                                var v = newValue[k];

                                if (newValue[k] !== oldValue[k]) {
                                    if (k === 'mode') {
                                        editor.setMode(v);
                                    } else if (k === 'name') {
                                        editor.setName(v);
                                    } else { //other settings cannot be changed without re-creating the JsonEditor
                                        editor = _createEditor(newValue);
                                        ngModel.$render();
                                        return;
                                    }
                                }
                            }
                        }
                    }, true);

                    $scope.$on('$destroy', function () {
                        //remove jsoneditor?
                    });

                    ngModel.$render = function () {
                        if (($scope.preferText === true) && !angular.isObject(ngModel.$viewValue)) {
                            editor.setText(ngModel.$viewValue || '{}');
                        } else {
                            editor.set(ngModel.$viewValue || {});
                        }
                    };

                    editor = _createEditor($scope.options);
                }
            };
        }]);
    })
</script>

<script type="text/javascript">
    //inject:js
    require([
        'highstock',
        'angular',
        'underscore',
        'animate',
        'aria',
        'material',
        'export',
        'accordion'
    ], function () {

        //Count the number of apps / charts on the page
        if (window.counter == undefined) {
            window.counter = 0;
        } else {
            window.counter++;
        }

        //Create different containers for the apps and charts
        var chartContainer = document.getElementById("container");
        chartContainer.id = "chart" + window.counter.toString();

        var appContainer = document.getElementById("appid");
        appContainer.id = "app" + window.counter.toString();

        //The angular app
        var app = angular.module('myApp', [
            "ngMaterial",
            "vAccordion",
            "ng.jsoneditor"
        ]);

        app.controller('MyController', ['$scope', '$http', function ($scope, $http) {

            var options = {"rangeSelector": {"buttons": [{"count": "1", "text": "1d", "type": "day"}, {"count": "7", "text": "1w", "type": "day"}, {"count": "1", "text": "1m", "type": "month"}, {"count": "3", "text": "3m", "type": "month"}, {"count": "6", "text": "6m", "type": "month"}, {"count": "1", "text": "1y", "type": "year"}, {"text": "All", "type": "all"}]}, "legend": {"enabled": "true"}, "chart": {"zoomType": "y"}, "tooltip": {"decimalValues": 2}, "title": {"text": "Some test data"}};
            var useHighStock = true;
            var path = "";

            var ChartType = useHighStock ? Highcharts.StockChart: Highcharts.Chart;

            $http.get(path + '/keys.json').success(function(data) {
                $scope.keys = data;

                $scope.selectedItem = null;
                $scope.searchText = null;
                $scope.querySearch = querySearch;
                $scope.selected = {};
                $scope.selected.keys = [];

                $scope.options = null;
                $scope.setOptions = setOptions;

                $scope.$watch('selected.keys', updateSeries, true);

                var chartOptions = angular.extend(options["chart"], {renderTo: chartContainer.id});

                //Initial rendered series
                var renderedSeries =  [];
                options = angular.extend(options, {chart: chartOptions}, {series: renderedSeries});
                var chart = new ChartType(options);

                //JSONEditor object
                $scope.obj = {data: chart.options, options: { mode: 'tree' }};

                //Default highchart colors
                var colors = {};
                colors.available = ['#7cb5ec', '#434348', '#90ed7d', '#f7a35c', '#8085e9',
                    '#f15c80', '#e4d354', '#2b908f', '#f45b5b', '#91e8e1'];
                colors.used = [];

                function setOptions(options) {
                    newChart(angular.extend(chart.options, options), renderedSeries);
                    $scope.accordion.toggle(0);
                }

                function querySearch (query) {
                  var availableKeys = _.difference($scope.keys, $scope.selected.keys);
                  return query ? availableKeys.filter(createFilterFor(query)) : [];
                }

                function createFilterFor(query) {
                  var lowercaseQuery = angular.lowercase(query);
                  return function filterFn(key) {
                      return (angular.lowercase(key).indexOf(lowercaseQuery) > -1);
                  };
                }

                //Update the series
                function updateSeries(newValue, oldValue) {
                    var index = {};

                    if (newValue.length > oldValue.length) {
                      //Fetch one key at a time in the asynchronous case
                      var newKey = _.difference(newValue, oldValue)[0];
                      $http.get(path + '/' + newKey + '.json').success(function(data) {
                          addSeries(data);
                      }).then(function() {
                          newChart(chart.options, renderedSeries);
                      });


                    } else if (newValue.length < oldValue.length) {
                        var removedKey = _.difference(oldValue, newValue)[0];
                        deleteSeries(removedKey);
                        newChart(chart.options, renderedSeries)
                    }
                }

                function findSeries(series, key) {
                    var index = {};

                    var arrayLength = series.length;
                    for (var i = 0; i < arrayLength; i++) {
                      if (series[i].name == key) {
                          index = i
                      }
                    }
                    return index
                }

                function newChart(options, series) {
                    var plotOptions =  {
                        series: {
                            animation: false
                        }
                    };
                    chart.destroy();
                    chart = new ChartType(angular.extend(options, {plotOptions: plotOptions}, {series:series}));
                }

                function addSeries(newSeries) {
                    renderedSeries.push(angular.extend(newSeries, {color: colors.available[0]}));
                    colors.used.push(colors.available.splice(0, 1)[0]);
                }

                function deleteSeries(name) {
                    var index = findSeries(renderedSeries, name);
                    var deletedColor = renderedSeries.splice(index, 1).color;
                    var colorIndex = colors.used.indexOf(deletedColor);
                    colors.available.push(colors.used.splice(colorIndex, 1)[0]);
                }

            }).error(function(error) {
              console.log(error);
            })

        }]);

        angular.bootstrap(appContainer, ['myApp']);
    });
</script>


<div id="appid">

    <div ng-controller="MyController">
        <section flex>
            <div layout="column">
                <md-content class="md-padding autocomplete" layout="row" flex>
                    <div flex="80">
                        <md-chips ng-model="selected.keys" md-autocomplete-snap md-require-match>
                            <md-autocomplete
                                    md-selected-item="selectedItem"
                                    md-search-text="searchText"
                                    md-items="item in querySearch(searchText)"
                                    md-item-text="item"
                                    md-autoselect="true"
                                    md-min-length="1"
                                    placeholder="Add a variable">
                                <span md-highlight-text="searchText">{{item}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                  <strong>{{$chip}}</strong>
                                </span>
                            </md-chip-template>
                        </md-chips>
                    </div>
                    <div flex="20" layout-align="end center" layout="row">
                        <md-button ng-click="accordion.toggle(0)">Settings</md-button>
                    </div>
                </md-content>
                <md-content class="md-padding" flex>
                    <v-accordion class="vAccordion--default" control="accordion">
                        <v-pane>
                            <v-pane-header style="display:none"></v-pane-header>
                            <v-pane-content>
                                <div ng-jsoneditor ng-model="obj.data" options="obj.options" style="width: 100%; height: 300px;"></div>

                                <md-button class="md-raised md-primary no-padding" style="margin-left: 0;" ng-click="setOptions(obj.data)">Apply</md-button>
                            </v-pane-content>
                        </v-pane>

                    </v-accordion>
                </md-content>
                <md-content class="md-padding" flex>
                    <div id="container" style="height: 500px; min-width: 310px"></div>
                </md-content>
            </div>
        </section>
    </div>
</div>